
    <div class="item item5 footer">

        <button id="taptotopButton" onclick="goToTop()">Tap Here to go to Top</button>
        <div class="row">          
            <div class="column column-1">
              <h2>Website</h2>
              
              <ul>
                <li><a href="/#homecontent">Home</a></li>
                <li><a href="/#aboutcontent">About</a></li>
                <li><a href="/#whyuscontent">Why Us</a></li>
                <li><a href="/#servicescontent">Services</a></li>                
              </ul>
            </div>            
          
          
            <div class="column column-3">
              <h2>Contact</h2>
              <ul>
                <li>Contact: <a href="tel: +919671019523">+91 9671019523</a></li>
                <li>Email: <a href="mailto: niketpaultry@gmail.com">niketpaultry@gmail.com</a></li>
                <li><a href="#" onclick="openContactModal()" >Write a Message</a></li>
              </ul>
            </div>
            <div class="column column-4">
              <h2>Social Media</h2> 
              <br/>
              
              <a href="#" onclick="alert('Facebook Account Not Available at the moment')" class="fa fa-facebook"><i class="fab fa-facebook-f"></i></a>
              <a href="#" onclick="alert('No twitter account available')" class="fa fa-twitter"></a>
              <a href="#" onclick="alert('No Instagram Account Available')" class="fa fa-instagram"><i class="fab fa-instagram"></i></a>
            </div>
                   
          
        </div><!---->

    </div>
</div>
<script src="/javascripts/script.js"></script>
</body>
</html>
