<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Paultry Supply">
    <meta name="keywords" content="Paultry Chicken paultry chicken Tandoori Chicken Parent Chicken tandoori chicken parent chicken Chicken Whole Sale chicken whole sale Cheapest Paultry Chicken Cheapest Chicken">
    <meta name="author" content="Paultry Supply">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <title>Niket Paultry</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--Font Awesome for icons-->
    <script src='https://kit.fontawesome.com/a076d05399.js' async></script>

  </head>
  <body ><!--oncontextmenu="return false"-->
    <div class="grid-container">
      <div class="item item1 header">
        <span onclick="openNav()" class="iconbar" title="Menu">&#9776;</span><a href="/" class="brand-title"><img src="images/niketpaultrylogo.png" width="220px" height="75px"></a>
        
        <div class="headernav">
          <ul>
            <li>
              <a href="/#homecontent" id="home-icon" title="Home"><i class="glyphicon glyphicon-home"></i></a>
            </li>
            <li>
              <a href="/#aboutcontent">About</a>
            </li>
            <li>
              <a href="/#servicescontent">Services</a>
            </li>
            <li>
              <a href="/#whyuscontent">Why Us</a>
            </li>       
            
            <li>
              <a href="#" onclick="openContactModal()">Contact</a>
            </li>     
            
          </ul>
          
            <ul class="subscribe">            
              <li>
                <a href="#" onclick="openSubscribeModal()">Subscribe</a>                        
              </li>
            </ul>
          
          
        </div>    
        

      <div class="sidenav-parent">
        <div class="sidenav">
          <ul>
            <li>
              <a href="javascript:void(0)" class="closeBtn" title="Close">&times;</a>
            </li>
            <li>
              <a href="/#homecontent" onclick="closeSideNav()" title="Home"><i class="glyphicon glyphicon-home"></i></a>
            </li>             
            <li>
              <a href="/#aboutcontent" onclick="closeSideNav()">About</a>
            </li>
            <li>
              <a href="/#servicescontent" onclick="closeSideNav()">Services</a>
            </li>  
            <li>
              <a href="/#whyuscontent" onclick="closeSideNav()">Why Us</a>
            </li>                       
            <li>
              <a href="#" onclick="openContactModal()">Contact</a>
            </li>  
            <li class="account">
              <a href="#" onclick="openSubscribeModal()">Subscribe</a>                        
            </li>      
          </ul> 
                 
        </div>

      </div>
      

      </div>
      
