<%- include('header')  %>
  <div class="item2"></div>

  <div class="item item3 main">    
    <div id="homecontent" class="container welcome"><!-- Welcome div starts here-->
      <h1>Please Note: Website Under Construction!!!</h1>
      <h1>Niket Paultry</h1>
      <h2 style="margin-top: 0;">(Just One Call Away)</h2>
      <% if(msg != '') { %> 
        <h1 style="color: rgb(248, 240, 230)"> 
          <%= msg %> 
        </h1>  
      <% } %>      
      <h2><a href="tel: +91 9671019523">Order Now</a></h2>
      <div class="row">           
        <div class="column column-left">
          <h3><a href="#" onclick="openSubscribeModal()" style="text-decoration: none;">Subscribe</a></h3>
        </div>
        <div class="column column-right">
          <h3><a href="#" onclick="openContactModal()" style="text-decoration: none;">Write a Message</a></h3>  
        </div>
  </div><!--row div ends-->
    </div> <!-- Welcome div ends here-->



    <div id="aboutcontent" class="about">
      <h2>About</h2>
      <p>
        Niket Paultry is a Paultry Farming Business and Chicken Supply Business. We produce Quality Chicken, which is one of the best in our area. We provide on demand Whole Sale and Retail supply of Chicken. We are available in North India.
      </p>
    </div>
    <div id="servicescontent" class="services">
      <h2>Services</h2>

      <ul>
        <li>Paultry Farming</li>
        <li>Chicken Supply</li>
        <li>Parent Chicken Supply</li>
        <li>Tandoori Chicken Supply</li>
      </ul>
    </div>
    <div id="whyuscontent" class="whyus">
      <h2>Why Us</h2>
      <ul>
        <li>Because, We sell at cheaper price than others</li>
        <li>Because, We are committed to our work</li>
        <li>Because, We have experience in our field</li>
        <li>Because, We believe in Quality</li>        
      </ul>
    </div>    
  </div>

<%- include('modal') %>
<%- include('footer') %>