<%- include('header')  %>
  <div class="item2"></div>

  <div class="item item3 main">
    <h1>Niket Paultry</h1>
    <h1>Please Note: Website Under Construction!!!</h1>
  </div>

<%- include('footer') %>